*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.slider .img-container{
    width: 40%;
}
.slider img{
    width: 100%;
}
.slider i[class^='fas fa-caret-']{
    font-size: 80px;
    margin: 0 25px;
    opacity: .5;
    cursor: pointer;
}
.slider i[class^='fas fa-caret-']:hover{
    opacity: 1;
}